<div class="container afterHeader">

  <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Authenticate and Submit your RSVP</legend>
    <div class="well">Please make sure to use the correct passcode otherwise your RSVP will fail. Once you have completed your RSVP you will have access to further information about the event.</div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="firstnameinput">First Name</label>  
      <div class="col-md-4">
      <input id="firstnameinput" name="firstnameinput" type="text" ng-model="entry.firstname" class="form-control input-md">
      <span class="help-block">Enter your first name</span>  
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="surnameinput">Surname</label>  
      <div class="col-md-4">
      <input id="surnameinput" name="surnameinput" type="text" ng-model="entry.surname" class="form-control input-md">
      <span class="help-block">Enter your surname</span>  
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput">Passcode</label>
      <div class="col-md-4">
        <input id="passwordinput" name="passwordinput" ng-model="entry.passcode" type="password" placeholder="" class="form-control input-md">
        <span class="help-block">Enter the password</span>
      </div>
    </div>

    <div class="form-group">
     
      <div class="col-md-12 text-center">

        <input id="tokenRequest" name="submitTokenRequest" type="submit" ng-click="entry.auth()" value="Submit my RSVP" class="btn btn-primary">
        
      </div>
    </div>

    </fieldset>
</form>
  

</div>
