<div ng-controller="AdminController as vm" class="container afterHeader">

  <div class="col-xs-12">

    <h1>Administration</h1>
    <div class="authControls"  ng-hide="vm.isAdmin">

      <div class="col-xs-12 needsAuth padding" ng-hide="vm.isAdmin">
        <p>
          Enter the passcode to authenticate as an admin.
        </p>

        <p>
          <input class='form-control centerise authit' id="passcodeAuth" type="password" ng-model="vm.passcode" name="passcode" />
        </p>
        <p><button class="btn btn-primary btn-sm viewData" ng-click="vm.viewData()">Authenticate</button></p>
      </div>

    </div>

    </div>


    <div class="col-xs-12 subTable animate-if padding" ng-if="vm.isAdmin">

      <div class="col-xs-12">
        <div class="well">Below are the current submissions.</div>
      </div>

      <h2 class="padding-left">Submissions</h2>

      <div class="col-xs-12">
        <table class="table">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Vegitarian</th>
            <th>Dietary Requirements</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="rsvp in vm.submitted">
            <td>{{rsvp.firstname}}</td>
            <td>{{rsvp.surname}}</td>
            <td>{{rsvp.vegitarian}}</td>
            <td>{{rsvp.dietaryReq}}</td>
          </tr>
          </tbody>
        </table>
      </div>



    </div>
  </div>


</div>
