.countdownr
{
  font-weight: 600;
  font-size: 5rem;
  animation: fadeIn 1.5s ease-in forwards;

  color: white;

  /*-webkit-text-stroke: 1px darken(teal, 5%);*/

  text-shadow:
  3px 3px 0 darken(teal, 5%),
  -1px -1px 0 darken(teal, 5%),
  1px -1px 0 darken(teal, 5%),
  -1px 1px 0 darken(teal, 5%),
  1px 1px 0 darken(teal, 5%);

}
