<div class="container afterHeader">

  <h1>The Wedding Party</h1>


  <div class='partyMember'>

    <div class='writeup col-sm-8'></div>
    <div class='image col-sm-4'>
      <img class="pmImg right" src="/assets/images/matthew.png">
    </div>

  </div>

  <div class='partyMember'>
    <div class='image col-sm-4'>
      <img class="pmImg" src="/assets/images/matthew.png">
    </div>
    <div class='writeup col-sm-8'></div>
  </div>

  <div class='partyMember'>
    <div class='writeup col-sm-8'>
    </div>
    <div class='image col-sm-4'>
        <img class="pmImg right" src="/assets/images/matthew.png">
    </div>
  </div>


</div>
